.modal {
   @include m.flex(center);
   position: fixed;
   inset: 0;
   padding: f.rem(10px);
   background-color: v.$paleYellowTransparent;
   animation: modalOpacity 0.3s ease-in-out 0s 1 forwards;
   cursor: pointer;
   z-index: 25;

   &-body {
      max-width: f.rem(700px);
      max-height: 90vh;
      padding: f.rem(18px);
      color: v.$black;
      background-color: v.$whiteYellow;
      border-radius: f.rem(5px);
      font-family: 'NeuchaM', Arial, Helvetica, cursive;
      overscroll-behavior: none;
      overflow-x: hidden;
      overflow-y: auto;
      cursor: auto;
      animation: modalScale 0.3s ease-in-out 0s 1 forwards;
      box-shadow:
         0 2px 2px 0 v.$blackShadowTransparent,
         0 1px 5px 0 v.$blackShadowUltraTransparent,
         0 3px 1px -2px v.$blackShadowSuperTransparent;

      @include m.bigtablet {
         max-width: 65%;
      }

      @include m.smalltablet {
         max-width: 75%;
      }

      @include m.bigmobile {
         max-width: 85%;
      }

      @supports (scrollbar-width: auto) {
         scrollbar-width: auto;
         scrollbar-color: auto;
      }

      @supports selector(::-webkit-scrollbar) {
         &::-webkit-scrollbar {
            width: f.rem(4px);
            border-radius: f.rem(10px);
         }
      }

      @supports selector(::-webkit-scrollbar-thumb) {
         &::-webkit-scrollbar-thumb {
            background: v.$orangeBrown;
            border-radius: f.rem(10px);
         }
      }
   }
}

@keyframes modalScale {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(1);
   }
}

@keyframes modalOpacity {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
