.header {
   height: fit-content;

   &-body {
      padding: f.rem(10px);
   }

   &-title {
      font-size: f.rem(36px);
      font-weight: 600;
      text-align: center;
   }

   &-link {
      position: relative;
      @include m.square(100%);
      color: v.$black;
      border-radius: f.rem(5px);

      &::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: f.rem(-3px);
         width: 100%;
         height: f.rem(4px);
         background-color: v.$black;
         border-radius: f.rem(10px);
         clip-path: polygon(0 f.rem(2px), 100% 0, 100% f.rem(4px), 0 3px);
         transform: scaleX(0);
         transform-origin: right center;
         transition: transform 0.4s ease 0s;
      }

      @include m.hover {
         &::after {
            transform-origin: left center;
            transform: scaleX(1);
         }
      }

      @include m.focused {
         outline: f.rem(2px) dashed v.$black;
         outline-offset: f.rem(4px);
      }
   }
}
